{% raw %}
#!/bin/bash

token=$(curl -s -X POST \
-H "Content-Type: application/json" \
-d '{
    "auth": {
        "identity": {
            "methods": [
                "password"
            ],
            "password": {
                "user": {
                    "domain": {
                        "id": "users"
                    },
                    "name": "{% endraw %}{{vk_username}}{% raw %}",
                    "password": "{% endraw %}{{vk_password}}{% raw %}"
                }
            }
        },
        "scope": {
            "project": {
                "id": "{% endraw %}{{vk_projectid}}{% raw %}",
                "region": "RegionOne"
            }
        }
    }
}' \
-i "https://infra.mail.ru:35357/v3/auth/tokens" | grep -i '^x-subject-token'| cut -d ':' -f 1,2)

providers_id=$(curl -s -X GET https://mcs.mail.ru/infra/karboii/v1/c0a9544d3f5447f6b3485f50161bc6f2/plans \
               -H "Accept: application/json" -H "X-Auth-Token: ${token#*: }" | jq -r '.plans[].provider_id')

IFS=$'\n'
for provider_id in $providers_id
do
metrics=$(curl -s -X GET https://mcs.mail.ru/infra/karboii/v1/c0a9544d3f5447f6b3485f50161bc6f2/providers/$provider_id/checkpoints \
          -H "Accept: application/json" -H "X-Auth-Token: ${token#*: }" | jq -r '.checkpoints[] | [.timestamp, .status] | @tsv' | tail -n 3)

IFS=$'\n'
count=1
status_value=1
if [ "$provider_id" = "7ab9410c-edda-4623-a51a-1bb806666cb3" ]; then label="backup_db_no"; elif [ "$provider_id" = "37997f75-0637-4a69-bf7e-49ff2ff11fa5" ]; then label="backup_nfs_no"; fi
for metric in $metrics
do
created_at=$(echo $metric | awk  '{print $1}')
status=$(echo $metric | awk '{print $2}')
if [ "$status" = "available" ]; then status_value=1; else status_value=0; fi
echo "$label$count {type=\"vk_cloud_backup\"} $status_value"
count=$(( $count + 1 ))
done
if [ "$count" -lt 4 ]; then
    if [ "$count" -eq 1 ]; then
            no=1
            for i in {1..3}
            do
                echo "$label$no {type=\"vk_cloud_backup\"} 0"
                no=$(( $no + 1 ))
            done
    elif [ "$count" -eq 2 ]; then
            no=2
            for i in {1..2}
            do
                echo "$label$no {type=\"vk_cloud_backup\"} 0"
                no=$(( $no + 1 ))
            done
    elif [ "$count" -eq 3 ]; then
            no=3
            echo "$label$no {type=\"vk_cloud_backup\"} 0"
    fi
fi
done
{% endraw %}