{% raw %}
{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 1,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "PEBAE75589257BB6B"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "orange",
            "mode": "fixed"
          },
          "displayName": "Domain $title expires in:",
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "d"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 3,
        "w": 13,
        "x": 0,
        "y": 0
      },
      "id": 3,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "auto",
        "wideLayout": true
      },
      "pluginVersion": "9.4.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "domain_expire_days",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Domain Delegation Check",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "PEBAE75589257BB6B"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "green",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 15
              }
            ]
          },
          "unit": "d"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 13,
        "x": 0,
        "y": 3
      },
      "id": 2,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "text": {},
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "9.4.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "(x509_cert_enddate{type=\"leaf\"} - time()) / 86400",
          "legendFormat": "Certificate ${title} on {{host}} expires in:",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Cerificate Date Check",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "PEBAE75589257BB6B"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "blue",
            "mode": "fixed"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "color": "red",
                  "index": 0,
                  "text": "Error"
                },
                "1": {
                  "color": "blue",
                  "index": 1,
                  "text": "OK"
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 0
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 13,
        "x": 0,
        "y": 9
      },
      "id": 4,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "vertical",
        "reduceOptions": {
          "calcs": [
            "last"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": false
      },
      "pluginVersion": "9.4.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_db_no1",
          "legendFormat": "Backup #1",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_db_no2",
          "hide": false,
          "legendFormat": "Backup #2",
          "range": true,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_db_no3",
          "hide": false,
          "legendFormat": "Backup #3",
          "range": true,
          "refId": "C"
        }
      ],
      "title": "VK DataBase Backup",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "PEBAE75589257BB6B"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "blue",
            "mode": "fixed"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "color": "red",
                  "index": 0,
                  "text": "Error"
                },
                "1": {
                  "color": "blue",
                  "index": 1,
                  "text": "OK"
                }
              },
              "type": "value"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 0
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 13,
        "x": 0,
        "y": 14
      },
      "id": 5,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "vertical",
        "reduceOptions": {
          "calcs": [
            "last"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": false
      },
      "pluginVersion": "9.4.3",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_nfs_no1",
          "legendFormat": "Backup #1",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_nfs_no2",
          "hide": false,
          "legendFormat": "Backup #2",
          "range": true,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "PEBAE75589257BB6B"
          },
          "editorMode": "code",
          "expr": "prometheus_backup_nfs_no3",
          "hide": false,
          "legendFormat": "Backup #3",
          "range": true,
          "refId": "C"
        }
      ],
      "title": "VK NFS Backup",
      "type": "stat"
    }
  ],
  "refresh": "",
  "revision": 1,
  "schemaVersion": 38,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "*.toinfinity.site",
          "value": "*.toinfinity.site"
        },
        "datasource": {
          "type": "prometheus",
          "uid": "PEBAE75589257BB6B"
        },
        "definition": "label_values(x509_cert_enddate{type=\"leaf\"}, common_name)",
        "hide": 0,
        "includeAll": false,
        "multi": false,
        "name": "title",
        "options": [],
        "query": {
          "query": "label_values(x509_cert_enddate{type=\"leaf\"}, common_name)",
          "refId": "StandardVariableQuery"
        },
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "type": "query"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Diploma Metrics",
  "uid": "0zJOdpYIz",
  "version": 1,
  "weekStart": ""
}
{% endraw %}