{% raw %}
groups:
  - name: vm
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} down"
          description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 1 minute."

  - name: disk
    rules:
      - alert: DiskLatencyHigh
        expr: node_disk_latency_seconds{device=~"sd\\d+"} > 0.1
        labels:
          severity: warning
        annotations:
          summary: "Disk latency is high (instance {{ $labels.instance }})"
          description: "Disk latency is high (value: {{ $value }})."

  - name: memory
    rules:
      - alert: HighMemoryUsage
        expr: (node_memory_Active_bytes / node_memory_MemTotal_bytes) * 100 > 80
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "High memory usage on {{ $labels.instance }}"
          description: "{{ $labels.instance }} has more than 80% memory usage (value: {{ humanize $value }})."

  - name: space
    rules:
      - alert: LowDiskSpace
        expr: node_filesystem_free_bytes{mountpoint="/"}/1024/1024 < 2048
        labels:
          severity: warning
        annotations:
          summary: "Low disk space on {{ $labels.mountpoint }} in {{ $labels.instance }}"
          description: "{{ $labels.mountpoint }} has less than 2GB of free space (value: {{ $value }})."
{% endraw %}