server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;
    server_name {{ domain_name }};
    ssl_certificate /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;

	listen localhost:81;
	location /metrics {
		stub_status on;
	}
    root /var/www/html;
    index  index.php index.html index.htm;
    server_name  wordpress;

    client_max_body_size 100M;
    autoindex off;
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
         include snippets/fastcgi-php.conf;
         fastcgi_pass unix:/var/run/php/php-fpm.sock;
         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
         include fastcgi_params;
    }
}