global:

templates:
- '/etc/alertmanager/template/*.tmpl'

route:
  repeat_interval: 3h
  receiver: gb-telegram

receivers:
- name: 'gb-telegram'
  telegram_configs:
  - bot_token: {{ bot_token }}
    api_url: https://api.telegram.org
    chat_id: {{ bot_chat }}
    parse_mode: 'HTML'